* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav {
    background-color: lightgrey;
}
.container {
    min-width: 24px;
    margin: 0 auto;
    background-color: lightgrey;
    height: 96px;
}

.nav-con {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    height: 64px;
}

.logo {
    margin-left: 24px;
    height: 32px;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin-left: 16px;
}

.menu4 {
    margin-right: 24px;
}
